body
{
  font-family : 'Ubuntu', sans-serif;
}

#map
{
  float : left;
  height : 100%;
  width : 70%;
}

#sidebar
{
  float : right;
  width : 30%;
  min-width : 200px;
}

tr:nth-child(odd)
{
  background-color : #ddddff;
}

.empty
{
  color : #999999;
  text-decoration: line-through;
}